<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BURNING KEY Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="admin/style.css" />
</head>

<body>
    <div class="container">
        <div th:replace="admin/layout_nav_admin.html"></div>
        <div class="main">
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu()"></div>
                <!-- <div class="user">
                    <img src="user.jpeg">
                </div> -->
                <p>Chào, Admin</p>
            </div>
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers" th:text="${totalCustomer}"></div>
                        <div class="cardName">Tổng số người dùng</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers" th:text="${totalOrder}"></div>
                        <div class="cardName">Tổng số đơn hàng</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- <div class="card">
                    <div>
                        <div class="numbers">208</div>
                        <div class="cardName">Comments</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">6,042</div>
                        <div class="cardName">Earning</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </div>
                </div> -->
            </div>
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Đơn đặt hàng mới</h2>
                        <a th:href="@{admin/orders}" class="btn">Xem tất cả</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Mã đơn</td>
                                <td>Tổng tiền</td>
                                <td>Ngày giờ</td>
                                <td>Trạng thái</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="order: ${orders}">
                                <td><a href="#" class="btn" th:text="${order.id}"></a></td>
                                <td th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')}"></td>
                                <td th:text="${order.orderDate}"></td>
                                <td><span  th:if="${order.status.name() == 'PENDING'}" th:class="'status Pending'" th:text="${order.status.status}"></span>
                                    <span  th:if="${order.status.name() == 'INPROGRESS'}" th:class="'status inprogress'" th:text="${order.status.status}"></span>
                                    <span  th:if="${order.status.name() == 'DELIVERED'}" th:class="'status delivered'" th:text="${order.status.status}"></span>
                                    <span  th:if="${order.status.name() == 'RETURN'}" th:class="'status return'" th:text="${order.status.status}"></span>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Người dùng mới</h2>
                    </div>
                    <table>
                        <tr th:each="customer : ${customers}">
                            <td><h4>[[${customer.firstName + ' ' + customer.lastName}]]<br><span th:text="${customer.phone}"></span></h4></td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function toggleMenu() {
        let toggle = document.querySelector(".toggle");
        let navigation = document.querySelector(".navigation");
        let main = document.querySelector(".main");
        toggle.classList.toggle("active");
        navigation.classList.toggle("active");
        main.classList.toggle("active");
    }
</script>

</html>