/*Style select size - begin*/
.sizes {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 10px;
}

input[type="radio"] {
    display: none;
}

label {
    background: #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    text-align: center;
    display: inline-block;
}

label:hover {
    background: #bdbdbd;
    transform: scale(1.05);
}

input[type="radio"]:checked + label {
    background: #7971ea;
    color: white;
}

input[type="radio"]:disabled + label {
    background: #f0f0f0;
    cursor: not-allowed;
}
/*Style select size - end*/